@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="text-center main-container">
    
    <h1 class="display-4">Comment puis-je aider ?</h1>
    <p>Ganymède n’accepte pas de dons en argent pour le moment. Nous voulons en effet être sûr de gérer les dons de façon parfaitement appropriée, ce qui n’est pas possible tant que nous ne sommes pas intégrés à un OBNL. Toutefois, les individus et les entreprises peuvent aider Ganymède à ateindre ce premier objectif de plusieurs façons, par exemple en :</p>
        <ul class="list-center">
            <li>Acceptant de faire de Ganymède un projet de votre OBNL;</li>
            <li>Acceptant d’offrir des commandites au projet (entreprises).</li>
            <li>Signalant votre intérêt à rejoindre le projet à titre de bénévole en remplissant le formulaire.</li>
        </ul>
    <p>Pour toute autre question vous pouvez envoyer un email à <a href="mailto:le.projet.ganymede@gmail.com">le.projet.ganymede@gmail.com</a>.</p>
</div>
