@{
	ViewData["Title"] = "Home Page";
}

<div class="text-center">
	<h1 class="display-4">Bienvenue chez ShiftMaster!</h1>
	<h4>Rejoignez notre réseaux de bénévoles</h4>
</div>

<div class="text-center">
	<h3 class="section-title">Qui sommes-nous ?</h3>
	<p>
		Fondé en 2023, Ganymède est une initiative de onze étudiants du collégial. Constatant la réalité et les
		dangers de l’itinérance dans le quartier Côte-des-Neiges, les membres fondateurs décident d’organiser un
		groupe qui distribuera, quotidiennement, de l’eau, du café ou du bouillon aux personnes itinérantes du
		quartier et engagera la discussion avec eux. De cête façon, Ganymède cherche à atténuer la pression de
		deux dangers importants pour les personnes itinérantes : les risques liés à la température et l’exclusion
		sociale. En donnant de l’eau fraîche en été et des boissons chaudes en hiver, le groupe espère réduire les
		risques d’insolation et d’hypothermie guêtant les personnes itinérantes ; en discutant avec elles, ils
		souhaitent leur fournir un besoin de première nécessité fréquemment oublié : les interactions humaines.
		Actuellement, Ganymède est à la recherche d’un organisme à but non-lucratif (OBNL) prêt à gérer ses
		fonds. Nous espérons pouvoir commencer nos activités de distribution à l’été 2024.
	</p>
	<hr>

