@model ganymede_web.Models.Horaire

@{
    ViewData["Title"] = "Create";
}
<div class="main-container">
@if ( Context.Session.GetString("nom") == "Admin") {
<h1>Créer un quart de travail</h1>

<h4>Horaire</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="BenevoleID" class="control-label"></label>
                <select asp-for="BenevoleID" class ="form-control" asp-items="ViewBag.BenevoleID"></select>
            </div>
            <div class="form-group">
                <label asp-for="StartTime" class="control-label"></label>
                <input asp-for="StartTime" class="form-control" />
                <span asp-validation-for="StartTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndTime" class="control-label"></label>
                <input asp-for="EndTime" class="form-control" />
                <span asp-validation-for="EndTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Role" class="control-label"></label>
                <input asp-for="Role" class="form-control" />
                <span asp-validation-for="Role" class="text-danger"></span>
            </div>
            <div class="form-group">
                        <input type="submit" value="Créer un Quart" class="btn colorbutton" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Revenir à la liste</a>
</div>
} else {
<p></p>
}
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


